In [ ]:
!pip install numpy
!pip install pandas
!pip install scikit-learn
!pip install matplotlib
!pip install seaborn

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [4]:
data = pd.read_csv("./dataset/employee_dataset.csv", encoding = "latin-1")
data.head()

,Employee ID,Age,Gender,Years at Company,Job Role,Monthly Income,Work-Life Balance,Job Satisfaction,Performance Rating,Number of Promotions,...,Number of Dependents,Job Level,Company Size,Company Tenure,Remote Work,Leadership Opportunities,Innovation Opportunities,Company Reputation,Employee Recognition,Attrition
0,52685,36,Male,13,Healthcare,8029,Excellent,High,Average,1,...,1,Mid,Large,22,No,No,No,Poor,Medium,Stayed
1,30585,35,Male,7,Education,4563,Good,High,Average,1,...,4,Entry,Medium,27,No,No,No,Good,High,Left
2,54656,50,Male,7,Education,5583,Fair,High,Average,3,...,2,Senior,Medium,76,No,No,Yes,Good,Low,Stayed
3,33442,58,Male,44,Media,5525,Fair,Very High,High,0,...,4,Entry,Medium,96,No,No,No,Poor,Low,Left
4,15667,39,Male,24,Education,4604,Good,High,Average,0,...,6,Mid,Large,45,Yes,No,No,Good,High,Stayed

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14900 entries, 0 to 14899
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Employee ID               14900 non-null  int64
 1   Age                       14900 non-null  int64
 2   Gender                    14900 non-null  object
 3   Years at Company          14900 non-null  int64
 4   Job Role                  14900 non-null  object
 5   Monthly Income            14900 non-null  int64
 6   Work-Life Balance         14900 non-null  object
 7   Job Satisfaction          14900 non-null  object
 8   Performance Rating        14900 non-null  object
 9   Number of Promotions      14900 non-null  int64
 10  Overtime                  14900 non-null  object
 11  Distance from Home        14900 non-null  int64
 12  Education Level           14900 non-null  object
 13  Marital Status            14900 non-null  object
 14  Number of Dependents      14900 non-null  int64
 15  Job Level                 14900 non-null  object
 16  Company Size              14900 non-null  object
 17  Company Tenure            14900 non-null  int64
 18  Remote Work               14900 non-null  object
 19  Leadership Opportunities  14900 non-null  object
 20  Innovation Opportunities  14900 non-null  object
 21  Company Reputation        14900 non-null  object
 22  Employee Recognition      14900 non-null  object
 23  Attrition                 14900 non-null  object
dtypes: int64(8), object(16)
memory usage: 2.7+ MB

In [6]:
data.shape

(14900, 24)

In [7]:
data.isnull()

,Employee ID,Age,Gender,Years at Company,Job Role,Monthly Income,Work-Life Balance,Job Satisfaction,Performance Rating,Number of Promotions,...,Number of Dependents,Job Level,Company Size,Company Tenure,Remote Work,Leadership Opportunities,Innovation Opportunities,Company Reputation,Employee Recognition,Attrition
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14895,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14896,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14897,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14898,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14899,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [8]:
data.isnull().sum()

Employee ID                 0
Age                         0
Gender                      0
Years at Company            0
Job Role                    0
Monthly Income              0
Work-Life Balance           0
Job Satisfaction            0
Performance Rating          0
Number of Promotions        0
Overtime                    0
Distance from Home          0
Education Level             0
Marital Status              0
Number of Dependents        0
Job Level                   0
Company Size                0
Company Tenure              0
Remote Work                 0
Leadership Opportunities    0
Innovation Opportunities    0
Company Reputation          0
Employee Recognition        0
Attrition                   0
dtype: int64

In [11]:
data = data.rename(columns={
    "Age": "age",
    "Gender": "gender",
    "Years at Company": "years_at_company", 
    "Job Role": "job_role", 
    "Monthly Income": "monthly_income", 
    "Work-Life Balance": "work_life_balance",
    "Job Satisfaction": "job_satisfaction",
    "Performance Rating": "performance_rating",
    "Number of Promotions": "number_of_promotions",
    "Overtime": "overtime",
    "Distance from Home": "distance_from_home",
    "Education Level": "education_level",
    "Marital Status": "marital_status",
    "Number of Dependents": "number_of_dependents",
    "Job Level": "job_level",
    "Company Size": "company_size",
    "Company Tenure": "company_tenure",
    "Remote Work": "remote_work",
    "Leadership Opportunities": "leadership_opportunities",
    "Innovation Opportunities": "innovation_opportunities",
    "Company Reputation": "company_reputation",
    "Employee Recognition": "employee_recognition",
    "Attrition": "attrition"
})

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14900 entries, 0 to 14899
Data columns (total 24 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Employee ID               14900 non-null  int64
 1   age                       14900 non-null  int64
 2   gender                    14900 non-null  object
 3   years_at_company          14900 non-null  int64
 4   job_role                  14900 non-null  object
 5   monthly_income            14900 non-null  int64
 6   work_life_balance         14900 non-null  object
 7   job_satisfaction          14900 non-null  object
 8   performance_rating        14900 non-null  object
 9   number_of_promotions      14900 non-null  int64
 10  overtime                  14900 non-null  object
 11  distance_from_home        14900 non-null  int64
 12  education_level           14900 non-null  object
 13  marital_status            14900 non-null  object
 14  number_of_dependents      14900 non-null  int64
 15  job_level                 14900 non-null  object
 16  company_size              14900 non-null  object
 17  company_tenure            14900 non-null  int64
 18  remote_work               14900 non-null  object
 19  leadership_opportunities  14900 non-null  object
 20  innovation_opportunities  14900 non-null  object
 21  company_reputation        14900 non-null  object
 22  employee_recognition      14900 non-null  object
 23  attrition                 14900 non-null  object
dtypes: int64(8), object(16)
memory usage: 2.7+ MB

<br><br>
## Preprocess

### Age Column

In [18]:
# Did not chaneg 
data["age"].value_counts()

age
32    390
40    386
53    386
33    385
56    384
19    379
45    379
35    378
34    374
43    373
29    372
36    370
27    369
21    368
30    368
55    368
57    367
38    364
31    362
22    358
46    358
18    356
51    356
24    352
37    350
58    345
20    344
54    343
39    343
52    342
42    341
26    340
28    340
23    332
41    330
50    326
44    326
25    326
59    325
49    317
48    315
47    313
Name: count, dtype: int64

In [19]:
len(data["age"].value_counts())

42

### Gender Column

In [13]:
data["gender"].value_counts()

gender
Male      8087
Female    6813
Name: count, dtype: int64

In [14]:
len(data["gender"].value_counts())

2

In [15]:
# Add a new column 'gender_binary' based on the 'gender' column
data['gender_binary'] = data['gender'].map({'Male': 1, 'Female': 0})
data["gender_binary"].value_counts()

gender_binary
1    8087
0    6813
Name: count, dtype: int64

<br><br>
### Years at Company Column

In [17]:
data["Years_at_Company"].value_counts()

Years_at_Company
1     635
5     628
8     612
6     608
10    607
4     601
7     597
3     595
2     586
11    567
9     565
12    552
13    499
15    444
14    439
17    424
16    419
18    406
20    364
19    351
23    334
21    334
22    322
24    284
26    257
25    250
27    223
28    209
30    205
29    203
31    182
32    166
33    160
36    145
35    130
37    120
34    111
38    106
40     89
41     88
39     86
42     78
43     74
45     61
44     50
47     35
46     34
48     33
49     19
51      7
50      6
Name: count, dtype: int64

In [19]:
len(data["Years_at_Company"].value_counts())

51